<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/carportBuilder.css" rel="stylesheet">
    <title>CarportBuilder</title>
</head>
<body>

<div class="carportBuilder">

    <header class ="carportBuilder-header">
        <div class ="FOG-imgLogo">
            <img src="/images/fogLogo.png" alt="FogLogo img" class="fogLogo">
        </div>
        <div class ="carportBuilder-topbar">
            <div class="marquee-images">
                <img src="/images/fogLogo.png" alt="smallFogLogo img" class="smallFoglogo">
                <img src="/images/Scene_1.png" alt="Scene_1 img">
                <img src="/images/Scene_2.png" alt="Scene_2 img">
                <img src="/images/Scene_3.png" alt="Scene_3 img">
                <img src="/images/Scene_4.png" alt="Scene_4 img">
                <img src="/images/Scene_5.png" alt="Scene_5 img">
                <img src="/images/fogLogo.png" alt="smallFogLogo img" class="smallFoglogo">
                <img src="/images/Scene_1.png" alt="Scene_1 img">
                <img src="/images/Scene_2.png" alt="Scene_2 img">
                <img src="/images/Scene_3.png" alt="Scene_3 img">
                <img src="/images/Scene_4.png" alt="Scene_4 img">
                <img src="/images/Scene_5.png" alt="Scene_5 img">
            </div>


        </div>
    </header> <!-- carportbuilder-header -->

    <section class="h2-box">
        <div>
            <h2 class="h2-text">Vælg dine ønskede dimensioner for din kommende carport</h2>
        </div>
    </section>

    <section class="carportBuilder-content">
        <form method="post" action="/carportBuilder">
            <div class="chooseDimensions-content">
                <div class="chooseLength">
                    <label for="request-length">Vælg længde:</label>
                    <select id="request-length" name="carport-length" required>
                        <option value="">Vælg længde</option>
                        <option value="240">240 cm</option>
                        <option value="270">270 cm</option>
                        <option value="300">300 cm</option>
                        <option value="330">330 cm</option>
                        <option value="360">360 cm</option>
                        <option value="390">390 cm</option>
                        <option value="420">420 cm</option>
                        <option value="450">450 cm</option>
                        <option value="480">480 cm</option>
                        <option value="510">510 cm</option>
                        <option value="540">540 cm</option>
                        <option value="570">570 cm</option>
                        <option value="600">600 cm</option>
                        <option value="630">630 cm</option>
                        <option value="660">660 cm</option>
                        <option value="690">690 cm</option>
                        <option value="720">720 cm</option>
                        <option value="750">750 cm</option>
                        <option value="780">780 cm</option>
                    </select>
                </div>

                <div class="chooseWidth">
                    <label for="request-width">Vælg bredde:</label>
                    <select id="request-width" name="carport-width" required>
                        <option value="">Vælg bredde</option>
                        <option value="240">240 cm</option>
                        <option value="270">270 cm</option>
                        <option value="300">300 cm</option>
                        <option value="330">330 cm</option>
                        <option value="360">360 cm</option>
                        <option value="390">390 cm</option>
                        <option value="420">420 cm</option>
                        <option value="450">450 cm</option>
                        <option value="480">480 cm</option>
                        <option value="510">510 cm</option>
                        <option value="540">540 cm</option>
                        <option value="570">570 cm</option>
                        <option value="600">600 cm</option>
                    </select>

                </div>
            </div>
<div class="drawingButton">
            <button type="submit" formaction="/showDrawing" >Se tegning af carport dimensionerne</button>

</div>
            <button type="submit" formaction="/customerContactInformation" class="next-button-container">Videre</button>


        </form>
        <div class="drawing-content">
            <div class="drawing-from-side">
                <p>Set fra siden</p>

                <div><p th:utext="${drawing}"></p></div>

                <div class="drawing-box-side"></div>
            </div>
            <div class="drawing-from-top">
                <p>Set fra oven</p>
                <div class="drawing-box-top"></div>
            </div>
        </div>
    </section>

</div> <!-- Frontpage div -->

</body>
</html>

