<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/customerContactInformation.css" rel="stylesheet">
    <title>customerContactInformation</title>
</head>
<body>

<div class="customerContactInformation">

    <header class ="customerContactInformation-header">
        <div class ="FOG-imgLogo">
            <img src="/images/fogLogo.png" alt="FogLogo img" class="fogLogo">
        </div>
        <div class ="customerContactInformation-topbar">
            <div class="marquee-images">
                <img src="/images/fogLogo.png" alt="smallFogLogo img" class="smallFoglogo">
                <img src="/images/Scene_1.png" alt="Scene_1 img">
                <img src="/images/Scene_2.png" alt="Scene_2 img">
                <img src="/images/Scene_3.png" alt="Scene_3 img">
                <img src="/images/Scene_4.png" alt="Scene_4 img">
                <img src="/images/Scene_5.png" alt="Scene_5 img">
                <img src="/images/fogLogo.png" alt="smallFogLogo img" class="smallFoglogo">
                <img src="/images/Scene_1.png" alt="Scene_1 img">
                <img src="/images/Scene_2.png" alt="Scene_2 img">
                <img src="/images/Scene_3.png" alt="Scene_3 img">
                <img src="/images/Scene_4.png" alt="Scene_4 img">
                <img src="/images/Scene_5.png" alt="Scene_5 img">
            </div>


        </div>
    </header> <!-- customerContactInformation-header -->

    <section class="h2-box">
        <div>
            <h2 class="h2-text">Indtast venligst dine kontaktoplysninger nedenfor:</h2>
        </div>
    </section>

    <section class="contactInformationWrapper">
        <div class="contactInformationFields">
            <div class="row">
            <div class="form-field">
                <label for="firstname">Navn: <span class="required">*</span></label>
                <input type="text" id="firstname" name="firstname">
            </div>
                <div class="form-field">
                <label for="lastname">Efternavn: <span class="required">*</span></label>
                <input type="text" id="lastname" name="lastname">
            </div>
                </div>
            <div class="row">
            <div class="form-field">
                <label for="address">Adresse: <span class="required">*</span></label>
                <input type="text" id="address" name="address">
                </div>

                <div class="form-field">
                <label for="city">By: <span class="required">*</span></label>
                <input type="text" id="city" name="city">
            </div>
                </div>
                <div class="row">
            <div class="form-field">
                <label for="phonenumber">Telefonnummer: <span class="required">*</span></label>
                <input type="text" id="phonenumber" name="phonenumber">
            </div>
                <div class="form-field">
                <label for="zipcode">Postnummer: <span class="required">*</span></label>
                <input type="text" id="zipcode" name="zipcode">
            </div>
                    </div>
                <div class="row center-email">
            <div class="form-field">
                <label for="email">E-mail: <span class="required">*</span></label>
                <input type="text" id="email" name="email">
            </div>
            </div>
        </div>
    </section>



    <div class="next-button-container">
        <button class="next-button" onclick="window.location.href='/confirmationPageUser'">Bestil tilbud</button>
    </div>

</div> <!-- Frontpage div -->

</body>
</html>